POSTGRES_USER=raidcal
POSTGRES_PASSWORD=raidcal
POSTGRES_DB=raidcal
SISU_RAIDCAL_CLIENT_ID=
SISU_RAIDCAL_CLIENT_SECRET=
BATTLE_NET_REGION=eu
BATTLE_NET_REDIRECT_URI=http://localhost:8080/api/battlenet/callback
APP_BASE_URL=http://localhost:8080
BATTLE_NET_COOKIE_SECURE=false
