TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_ENTITIES=["dist/**/*.entity{.ts,.js}"]
TYPEORM_MIGRATIONS=[]
TYPEORM_MIGRATIONS_RUN=false
TYPEORM_LOGGING=false
TYPEORM_DROP_SCHEMA=false
TYPEORM_SYNCHRONIZE=false
BLIZZARD_USERNAME=
BLIZZARD_PASSWORD=
SISU_RAIDCAL_CLIENT_ID=
SISU_RAIDCAL_CLIENT_SECRET=
BATTLE_NET_REGION=eu
BATTLE_NET_REDIRECT_URI=http://localhost:3000/battlenet/callback
FRONTEND_BASE_URL=http://localhost:3000
BATTLE_NET_LOGIN_SUCCESS_PATH=/login/success
BATTLE_NET_LOGIN_FAILURE_PATH=/login/failed
