.LoginPage {
    width: -moz-calc(100% - 2vh);
    width: -webkit-calc(100% - 2vh);
    width: -o-calc(100% - 2vh);
    width: calc(100% - 2vh);
    margin: 2vh;

}

.LoginPage div {
    margin-bottom: 0.25rem;
}