@page "/goodbye"

<PageTitle>Goodbye — LFM</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="16" HorizontalAlignment="HorizontalAlignment.Center">
    <FluentLabel Typo="Typography.H2">Goodbye</FluentLabel>
    <FluentLabel>Your account has been deleted. We hope to see you again sometime.</FluentLabel>
    <FluentLabel>All your data has been removed from our systems.</FluentLabel>
    <a href="/login">
        <FluentButton Appearance="Appearance.Accent">Sign In Again</FluentButton>
    </a>
</FluentStack>
